.user-center_side-menu {
  display: flex;
  flex-direction: column;
  min-width: 255px;
  padding: 20px 0 50px 0;
  background-color: #fd6c2e;
}

.user-center_side-menu-title {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  align-self: center;
}

.user-center_side-menu_nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  color: white;
  background-color: #fd6c2e;
}

.user-center_side-menu_nav-item {
  display: flex;
  align-items: center;
  height: 56px;
  width: 100%;
  padding: 0 20px;
  font-size: 1rem;
  transition: background-color 0.2s ease-out, border-left-color 0.2s ease-out;
  border-left: solid 4px white;
  border-left-color: transparent;
  color: white;
}

.user-center_side-menu_nav-item-icon {
  display: flex;
  justify-content: center;
  width: 12px;
  margin-right: 14px;
  color: #fff6f2;
  opacity: 0.4;
  transition: opacity 0.2s ease-out;
}

.user-center_side-menu_nav-item-icon:hover {
  opacity: 1;
}

.user-center_side-menu_nav-item:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.08);
  border-left-color: white;
}

.user-center_side-menu_nav-item-active {
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
  border-left-color: white;
}
