.page--user-center {
  width: 100%;
  background-color: #fff6f2;
}

.user-center-container {
  display: flex;
}

.user-center-sidemenu-container {
  background-color: #fd6c2e;
}

.user-center-subpage-container {
  width: 100%;
  overflow: hidden;
  padding: 20px 40px;
  background-color: #fff6f2;
}
