.card {
  display: flex;
  flex-flow: column;
  flex: 1;
  height: 260px;
  width: 165px;
  max-width: 200px;
  background-color: white;
  overflow: hidden;
  text-decoration: none;
  margin: 0 0.8rem;
  transition: ease-in-out 100ms box-shadow;
}

.card-background {
  background-color: #fffcfb;
  border: solid 1px rgba(253, 108, 46, 0.5);
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 6px 8px rgba(107, 107, 107, 0.2);
}

.card-img-container {
  position: relative;
  width: 100%;
  padding-top: 76%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.card-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.card-img:hover {
  transform: scale(1.1);
}

.card-text {
  padding: 10px 15px;
}

.card-text-title {
  height: 3rem;
  overflow: hidden;
  line-height: 1.2;
  font-size: 1.1rem;
  font-weight: 700;
  color: #862800;
  margin-bottom: 8px;
}

/* .card-text-description {
  font-size: 0.8rem;
  font-weight: 300;
  overflow: hidden;
  line-height: 1.3;
  color: black;
} */

.card-text-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #bf3900;
}

.card-start-date {
  font-size: 0.8rem;
}

.card-start-date-icon {
  margin-right: 6px;
}

.card-icon-group {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.card-activity-size {
  margin-right: 4px;
}
