.user-center-section {
  position: relative;
  padding: 24px 0;
  margin: 10px 0 30px 0;
  background-color: white;
  border: 1px solid #dfe0eb;
  border-radius: 12px;
}

.user-center-section-heading {
  padding: 0 24px;
}

.section-main-heading {
  font-size: 1.15rem;
  font-weight: 600;
}

.section-sub-heading {
  margin-top: 4px;
  font-size: 0.9rem;
  color: rgba(25, 27, 33, 0.4);
}

.section-more {
  position: absolute;
  top: 36px;
  right: 30px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #fd6c2e;
}

.section-more:hover {
  color: #fd6c2e;
}

.section-content {
  width: 100%;
  padding-top: 20px;
  overflow: hidden;
}

.section-content-padding {
  padding: 20px 24px 0 24px;
}
